// Fontes 
$fonte: 'Roboto', sans-serif;

// Cores 
// Paleta de cores do site Color Hunt
$cor-primaria: #495371;
$cor-secundaria: #319DA0;
$cor-terciaria: #FFD39A;

// Tamanho dasFontes 
$font-principal: 3rem;